@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

* {
  box-sizing: border-box;
  /* height: 100%; */
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f2f2;
}
.Toastify__toast {
  height: fit-content;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-1uq9j6g {
  height: fit-content;
}

.rtl-grid {
  direction: rtl;
}

.btn-hover:hover {
  background-color: inherit !important;
}
